:root {
  --base-width: 320px;
  --base-height: 552px;
  --main-headline-height: 64px;
  --main-headline-margin-bottom: 24px;
}

html {
  min-width: var(--base-width);
  background: #FFF;
  font-family: 'TT Lakes', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

body {
  margin: 0;
}

.header {
  display: flex;
  height: 88px;
  align-items: center;
  column-gap: 16px;
  background: white;
  padding-left: 16px;
  padding-right: 16px;
}

.header button {
  border: none;
  background-color: white;
}

.header__burger,
.main__menu-header-logo {
  margin-right: auto;
}

.header__burger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  /*background-image: url("/img/burger.svg");*/
  background-image: var(--burger-svg);
}

.main__menu-header-logo {
  flex-grow: 1;
  width: 98px;
  height: 52px;
}

.header__repair {
  width: 40px;
  height: 40px;
  /*background-image: url("/img/repair.svg");*/
  background-image: var(--repair-svg);
}

.header__checkStatus {
  width: 40px;
  height: 40px;
  /*background-image: url("/img/checkstatus.svg");*/
  background-image: var(--check-status-svg);
}

.header__repair,
.header__divider + .header__repair,
.header__checkStatus {
  margin-left: auto;
}

.header__call,
.header__chat,
.header__profile {
  display: none;
}

.header__burger + .header__divider {
  display: none;
}

.header__divider {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #EAEAEA;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: var(--base-height);
  background: #F8F8F8;
}

.main__headline {
  display: flex;
  height: var(--main-headline-height);
  margin-bottom: var(--main-headline-margin-bottom);
}

.main__headline-highlight {
  align-self: flex-end;
  flex: 0 0 4px;
  height: 40px;
  background: #41F6D7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main__headline-repair,
.main__headline-checkStatus {
  display: none;
}

.main__headline h1 {
  align-self: flex-end;
  flex: 1;
  margin: 0 16px 0 16px;
  color: #1B1C21;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -320px;
  top: 0;
  width: 320px;
  min-height: 630px;
  height: 100%;
  background: white;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.main__menu.active {
  left: 0;
  box-shadow:
    16px 0 52px 0 rgba(14, 24, 80, 0.20),
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.main__menu-header {
  display: flex;
  width: 100%;
  height: 88px;
  margin-bottom: 20px;
  align-items: center;
  column-gap: 16px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.main__menu-header button {
  border: none;
}

.main__menu-header-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  /*background-image: url("/img/close.svg");*/
  background-image: var(--close-svg);
  background-color: white;
}

.main__menu-header-search {
  width: 40px;
  height: 40px;
  /*background-image: url("/img/search.svg");*/
  background-image: var(--search-svg);
  background-color: white;
}

.main__menu-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main__menu-ul li {
  height: 40px;
  transition: background 0.3s ease;
}

.main__menu-ul li:hover {
  /*background-image: url("/img/highlight.svg");*/
  background-image: var(--highlight-svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 80%;
}

.main__menu-ul a {
  display: block;
  margin-bottom: -1px;
  margin-left: 24px;
  padding: 10px 0;
  text-decoration: none;
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: color 0.3s ease;
}

.main__menu-ul a:hover {
  color: #7E7E82;
}

.main__footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  margin-left: 24px;
}

.main__footer-button {
  height: 40px;
  margin-bottom: 16px;
}

.main__footer-button button {
  display: inline-block;
  width: 40px;
  height: 100%;
  margin-right: 16px;
  border: none;
  background-color: white;
}

.main__footer-call {
  background-image: var(--call-svg);
}

.main__footer-chat {
  background-image: var(--chat-svg);
}

.main__footer-profile {
  background-image: var(--profile-svg);
}

.main__footer-email {
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0 0 16px;
}

.main__footer-phone {
  width: 196px;
  color: #1B1C21;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 0 0 20px;
}

.main__footer-lang {
  margin-left: 24px;
  margin-bottom: 32px;
}

.main__footer-lang button {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 16px;
  padding: 0;
  border: none;
  background-color: white;
}

.main__footer-ru,
.main__footer-en,
.main__footer-ch {
  color: #1B1C21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  transition: color 0.3s ease;
}

.main__footer-ru:hover,
.main__footer-en:hover,
.main__footer-ch:hover {
  color: #7E7E82;
}

.main__pagination {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 0 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.main__pagination::-webkit-scrollbar {
  display: none;
}

.main__pagination-item {
  height: 36px;
  white-space: nowrap;
}

.main__pagination-fade {
  position: absolute;
  height: 40px;
  width: 24px;
  right: 0;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
  margin-top: calc(var(--main-headline-height) + var(--main-headline-margin-bottom));
}

@media all and (max-width: 320px) {
  .main__pagination-fade {
    position: absolute;
    height: 40px;
    width: 24px;
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    margin-top: calc(var(--main-headline-height) + var(--main-headline-margin-bottom));
    margin-right: calc((100% - var(--base-width)));
  }
}

.main__pagination-item.main__pagination-item--active {
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  background: #FFF;
}

.main__pagination-button {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  background: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #7E7E82;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 0 15px 0 15px;
}

ul.main__pagination {
  list-style: none;
  padding: 0;
}

li.main__pagination-item {
  margin-left: 16px;
}

.main__article-text {
  padding: 0 16px 16px 16px;
}

p.main__article-text {
  color: #1B1C21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.main__article-text.hidden,
.main__article-text.hidden.span {
  display: none;
}

.main__article-read-more {
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  /*background-image: url("/img/expand.svg");*/
  background-image: var(--expand-svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.main__article-read-more a {
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-left: 8px;
  text-decoration: none;
}

.main__article-img {
  width: 100%;
}
